h1 {
  font-style: italic;
  text-align: center;
  background-color: #FFDE9E
}

nav li {
  display: inline-block;
  font-size: 18px;
  color: blue;
  list-style-type: none;
  background-color: white;
  padding: 3px;
  border: 1px solid black;
}

body {
  background-color: #FF894F
}

p {
  font-style: italic;
  font-family: "Merriweather";
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: #871A16;
}

a:hover {
  background-color: #FFC792;
  display: block;
}

h2 {
  text-align: center;
  font-family:'Frank Ruhl Libre', serif;
}
img{
  margin-left: 10%;
}
