header {
  color: white;
  background-color: black;
  text-align: center;
  font-size: 36px;
  font-family: "roboto";
}

body {
  background-color: #B53627;
}

nav li {
  display: inline-block;
  font-size: 18px;
  list-style-type: none;
  background-color: white;
  padding: 3px;
  font-family: 'Hind Madurai', sans-serif;
  border: 1px solid black;
}

h1 {
  font-size: 28px;
  color: #FFEFBA;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

p {
  font-size: 19px;
  color: #FFDBAE;
  font-family: "Titillium Web";
}

a {
  text-decoration: none;
  color: #945140;
}

a:hover {
  background-color: #FFC792;
  display: block;
}

#home {
  margin-left: 34%;
  color: #FFC792;
}

#aboutme {
  margin-left: 0%;
}
